<html>
    <head>
        <title>
            Tipsy
        </title>
        <link rel = "stylesheet" href="/static/css/bootstrap.css" type="text/css">
    </head>
    <body>
        <h1> Task complete? Enter task ID #: </h1>
        <form method = "POST" action="/done_task"> <!-- posts or stores raw_input into database, then redirects the action to /done_task -->
            <input type = "text" name = "task_complete"></input>
            <input type = "submit">
        </form>
    </body>
</html>